<!doctype html>
<html ng-app="eggly">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Eggly</title>

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/eggly.css">
    <link rel="stylesheet" href="assets/css/animations.css">
</head>
<body ng-controller="MainCtrl as mainVm">
<div class="container-fluid">
    <div class="row" ui-view>
        <div class="col-sm-3 col-md-2 sidebar">
            <a href="#" ng-click="mainVm.setCurrentCategory(null)"><img class="logo" src="assets/img/eggly-logo.png"></a>
            <ul class="nav nav-sidebar">
                <li ng-repeat="category in mainVm.categories" ng-class="{'active': mainVm.currentCategory.name === category.name}">
                    <a href="#" ng-click="mainVm.setCurrentCategory(category)">{{ category.name }}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ng-repeat="bookmark in mainVm.bookmarks | filter:{category:mainVm.currentCategory.name}" ng-class="{active : mainVm.isSelectedBookmark(bookmark.id) }">
                <button type="button" class="close" alt="Delete bookmark" ng-click="mainVm.deleteBookmark(bookmark)">&times;</button>
                <button type="button" class="btn btn-link" ng-click="mainVm.setEditedBookmark(bookmark);mainVm.startEditing()" ><span class="glyphicon glyphicon-pencil"></span>
                </button>
                <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
            </div>
            <hr/>
            <!-- CREATING -->
            <div ng-if="mainVm.shouldShowCreating()">
                <button ng-if="!mainVm.isCreating" type="button" class="btn btn-link" ng-click="mainVm.startCreating()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Create Bookmark
                </button>
                <div ng-if="mainVm.isCreating">
                    <h3>Create a bookmark!</h3><br />
                    <form class="create-form" ng-show="mainVm.isCreating" role="form" ng-submit="mainVm.createBookmark(mainVm.newBookmark)" novalidate>
                        <div class="form-group">
                            <label for="newBookmarkTitle">Bookmark Title</label>
                            <input type="text" class="form-control" id="newBookmarkTitle" ng-model="mainVm.newBookmark.title" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="newBookmarkURL">Bookmark URL</label>
                            <input type="text" class="form-control" id="newBookmarkURL" ng-model="mainVm.newBookmark.url" placeholder="Enter URL">
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Create</button>
                        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="mainVm.cancelCreating()">Cancel</button>
                    </form>
                </div>
            </div>
            <!-- EDITING -->
            <div ng-if="mainVm.shouldShowEditing()">
                <h3>Editing a bookmark:</h3>
                <form class="edit-form" role="form" ng-submit="mainVm.updateBookmark(mainVm.editedBookmark)" novalidate>
                    <div class="form-group">
                        <label>Bookmark Title</label>
                        <input type="text" class="form-control" ng-model="mainVm.editedBookmark.title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label>Bookmark URL</label>
                        <input type="text" class="form-control" ng-model="mainVm.editedBookmark.url" placeholder="Enter URL">
                    </div>
                    <button type="submit" class="btn btn-info btn-lg">Save</button>
                    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="mainVm.cancelEditing()">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/lodash/lodash.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- App-->
<script src="webapp/app.js"></script>
<script src="webapp/controllers/main-controller.js"></script>
<script src="webapp/categories/categories.js"></script>
<script src="webapp/categories/bookmarks/bookmarks.js"></script>
<script src="webapp/categories/bookmarks/edit/bookmark-edit.js"></script>
<script src="webapp/categories/bookmarks/create/bookmark-create.js"></script>
<script src="webapp/common/bookmarks-model.js"></script>
<script src="webapp/common/categories-model.js"></script>
</body>
</html>