<h3>Create a bookmark!</h3><br/>
<form class="create-form" role="form"
      ng-submit="mainVm.createBookmark(mainVm.newBookmark)" novalidate>
    <div class="form-group">
        <label for="newBookmarkTitle">Bookmark Title</label>
        <input type="text" class="form-control" id="newBookmarkTitle" ng-model="mainVm.newBookmark.title"
               placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="newBookmarkURL">Bookmark URL</label>
        <input type="text" class="form-control" id="newBookmarkURL" ng-model="mainVm.newBookmark.url"
               placeholder="Enter URL">
    </div>
    <button type="submit" class="btn btn-info btn-lg">Create</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="mainVm.cancelCreating()">Cancel
    </button>
</form>